{% extends "base.html" %} {% block title %}Add Employee{% endblock %} {% block employeenavbar %}
<a class="nav-item nav-link" id="Employees" href="/Employees">Employees</a> {% endblock %} {% block content %}


<form action="/UpdateEmployee/{{ employee.id }}" method="POST">
    <h4 align="center">Update Employee details</h4>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="EmpName">Name</label>
            <input type="text" maxlength="80" class="form-control is-valid" id="EmpName" name="EmpName" placeholder="Emplopyee Name" value="{{ employee.Name }}" required>

        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpEmail">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForEmpEmail">@</span>
                </div>
                <input type="text" maxlength="80" class="form-controld" id="EmpEmail" name="EmpEmail" value="{{ employee.email }}" placeholder="John@gmail.com" aria-describedby="inputGroupPrepend3">

            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpMobile">Mobile No.</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForEmpMobile">No.</span>
                </div>
                <input type="number" maxlength="10" class="form-controld" id="EmpMobile" name="EmpMobile" value="{{ employee.mobile_number }}" placeholder="9900099000" aria-describedby="inputGroupPrepend3">

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="IsActive">Status</label>
            <select class="form-control" id="IsActive" name="IsActive">
                {% if employee.isActive==True %}
                    <option class="form-control is-valid" value="0" selected>Active</option>
                {% else %}
                    <option class="form-control is-valid" value="1" selected>Resigned</option>
                {%endif%}
                    <option class="form-control is-valid" value="0">Active</option>
                    <option class="form-control is-valid" value="1">Resigned</option>
            </select>

        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpDesignation">Designation</label>
            <div class="input-group">
                <input type="text" maxlength="50" class="form-controld" id="EmpDesignation" name="EmpDesignation" value="{{ employee.Designation }}" placeholder="Designation" aria-describedby="EmpDesignation" required>

            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpLocation">Location</label>
            <div class="input-group">
                <input type="text" maxlength="50" class="form-controld" id="EmpLocation" name="EmpLocation" value="{{ employee.Location }}" placeholder="Location" aria-describedby="EmpLocation" required>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="EmpPAN">PAN No.</label>
            <div class="input-group">
                <input type="text" maxlength="10" class="form-controld" id="EmpPAN" name="EmpPAN" value="{{ employee.PAN_Number }}" placeholder="CYDKT7189F" aria-describedby="EmpPAN">

            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpUIDAI">AADHAR No.</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForEmpUIDAI">ID</span>
                </div>
                <input type="text" maxlength="16" class="form-controld" id="EmpUIDAI" name="EmpUIDAI" value="{{ employee.UIDAI_Number }}" placeholder="UIDAI" aria-describedby="EmpUIDAI">

            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="DOJ">Joining Date</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForDOJ">DOJ</span>
                </div>
                <input type="date" class="form-controld" id="DOJ " name="DOJ" placeholder="" value="{{ employee.DOJ }}" aria-describedby="DOJ" required>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="DOR">Resignation Date</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForDOR">DOR</span>
                </div>
                <input type="date" class="form-controld" id="DOR" name="DOR" placeholder="" value="{{ employee.DOR }}" aria-describedby="DOR">

            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpWages">Wages per Month</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForEmpWages">Rs.</span>
                </div>
                <input type="text " maxlength="5" class="form-controld" id="EmpWages" name="EmpWages" value="{{ employee.WagesPerMonth }}" placeholder="0.00" aria-describedby="EmpWages" required>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="EmpDA">Daily Allowance</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ForEmpDA">Rs.</span>
                </div>
                <input type="text" maxlength="5" class="form-control" id="EmpDA" name="EmpDA" value="{{ employee.DailyAllowance }}" placeholder="0.00 " aria-describedby="EmpDA">

            </div>
        </div>
    </div>
    <center><button class="btn btn-primary " type="submit ">Submit</button></center>
</form>
{% endblock %}